body {
	background:  #e6e2d3;
	color: black;
	font-family: arial, sans-serif;
	font-size:  14px;
}

#container {
	width:  60%;
	background: #bdcebe;
	margin: 20px auto;
	overflow: auto;
	padding: 25px;
	
}

header {
	text-align: center;
	border-bottom: #fff dashed 1px;
	
	
}

header h1 {
	margin: 0;
	padding: 0;
}

header p {
	padding: 0;
	margin-top: 5px;
	color: black;
}

section {
	min-height: 400px;
}

input  {
	background:  #3e4444;
	border: 0;
	color: #fff;
	padding: 10px 15px;
	cursor: pointer;
}

#results {
	background: #3e4444;
	color: white;
	padding: 10px;
	margin: 10px 0px;
	
}

#results span {
	color: #fff;
	font-weight: bold;
}
footer {
	text-align: center;
	border-top: #fff dashed 1px;
}
